/*
作者：阮家友
时间：2017-5-10 17:14:11
说明：还是放less中
    ceil 22px
    1.5*R = 21

    0 check
    21=1.5*R checked
    42=3*R   check.disable
    63=4.5*R checked.disable
    88=6*R   radio
   110=7.5*R radio.checked
   132=9*R   radio.disable
   154=10.5R radio.checked.disable
*/
/*
作者：阮家友
时间：2017-5-17 15:41:06
说明：mixins混合自身不输出样式
      2017-5-24 09:45:30 不再提供IE8的圆角属性支持。爱要不要。
*/
/*
作者：阮家友
时间：2017-5-19 14:03:46
说明：less变量文件
*/
/*
  说明 clearfix进化史中的太多麻烦
  改用bootstrap中的写法
  .clearfix:before, .clearfix:after { display: block; height: 0; clear: both; content: ""; font-size: 0; visibility: hidden; }
   IE7不支持:before :after 
  .clearfix { *zoom: 1; } 
*/
/* css3圆角 */
[role="checkbtn"],
[role="radiobtn"] {
  display: inline-block;
  height: 21px;
  line-height: 21px;
  margin-right: 11.62px;
  padding-left: 25.2px;
  background: url(../css/images/blue-v.png) 0 0 no-repeat;
  cursor: pointer;
  white-space: nowrap;
  user-select: none;
}
[role="checkbtn"]:before,
[role="radiobtn"]:before,
[role="checkbtn"]:after,
[role="radiobtn"]:after {
  content: " ";
  display: table;
}
[role="checkbtn"]:after,
[role="radiobtn"]:after {
  clear: both;
}
[role="checkbtn"] input,
[role="radiobtn"] input {
  display: none;
}
[role="radiobtn"] {
  background-position-y: -88px;
}
[role="radiobtn"].checked {
  background-position-y: -110px;
}
[role="radiobtn"].disabled {
  background-position-y: -132px;
}
[role="radiobtn"].checked.disabled {
  background-position-y: -154px;
}
[role="checkbtn"].checked {
  background-position-y: -22px;
}
[role="checkbtn"].disabled {
  background-position-y: -44px;
}
[role="checkbtn"].checked.disabled {
  background-position-y: -66px;
}
