<?xml version="1.0"?>
<configuration>
  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="*" />
        <add name="Access-Control-Allow-Headers" value="Content-Type" />
        <add name="Access-Control-Allow-Methods" value="GET, POST, PUT, DELETE, OPTIONS" />
      </customHeaders>
    </httpProtocol>
    <staticContent>
      <mimeMap fileExtension=".less" mimeType="text/css"/>
    </staticContent>
  </system.webServer>
  <system.web>
    <authentication mode="Windows"/>
    <webServices>
      
      <protocols>
        <add name="HttpPost"/>
        <add name="HttpGet"/>
      </protocols>
    </webServices>
    <compilation debug="true"/>
  </system.web>
</configuration>