/*
模块：签到查询页面
时间：2017-1-3 13:22:08
作者：max
    */
html { background-color: #fff; }
/*顶部左右箭头和居中年月信息*/
.title { padding: 0 20px; height: 3rem; line-height: 3rem; }
.title .prev { float:left;  cursor: pointer; }
.title .next { float:right; cursor: pointer; }
.title img { height: 2rem; vertical-align: middle; }
.title div { overflow: hidden; text-align: center;  }
/*日期与星期表格*/
table { width:100%; line-height: 3.7rem; text-align:center; border-top: 0.75rem solid #e8e8e8; border-bottom:1px solid #e8e8e8; }
#daysList { padding: 0; text-align: center;}
#daysList li { list-style: none; float: left; width: 14.28%; }
#daysList label { display: block; margin: 0.5rem; border-radius: 50%; }
#daysList li.active label { background-color: #ff9e88; color: #fff; }
